<wicket:extend>
	<form class="form-inline" wicket:id="cadastroFormulario">
		<fieldset>
			<legend>Cadastro de Automoveis</legend>
				<div class="alert alert-info" wicket:id="mensagens"></div>
				<label wicket:id="containerMarca" for="marca">Marca:</label>
				<select wicket:id="marca"></select>
				<label wicket:id="containerModelo" for="modelo">Modelo:</label>
				<select wicket:id="modelo"></select>
				<label wicket:for="cor">Cor: </label>
				<select wicket:id="cor"></select>
				<label wicket:for="valor">Valor: </label>
				<div class="input-prepend input-append">
					<span class="add-on">R$</span>
					<input class="span2" wicket:id="valor" type="text"></input>
					<span class="add-on">,00</span>
				</div>
				<label wicket:id="containerAno" for="ano">Ano: </label>
				<select wicket:id="ano" ></select>
			   <label wicket:for="imagem">Imagem:</label>
			    <input wicket:id="imagem" type="file" />
				<fieldset>
					<legend>Opcionais</legend>
					<label wicket:for="arCondicionado">Ar-Condicionado</label>
					<input type="checkbox" wicket:id="arCondicionado" />
					<label wicket:for="direcaoHidraulica">Direção Hidraulica</label>
					<input type="checkbox" wicket:id="direcaoHidraulica" />
					<label wicket:for="vidrosEletricos">Vidros Eletricos</label>
					<input type="checkbox" wicket:id="vidrosEletricos" />
					<label wicket:for="travasEletricas">Travas Eletricas</label>
					<input type="checkbox" wicket:id="travasEletricas" />
				</fieldset>
		</fieldset>
		<div id="divBotoes">
			<input class="btn btn-success" type="submit" wicket:id="salvar" value="Salvar" />
			<input class="btn" type="submit" wicket:id="voltar" value="Voltar" />
		</div>
	</form>
</wicket:extend>